<mat-card>
  <form>
    <mat-form-field>
      <input matInput placeholder="Author" value="" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Review Title" value="" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Game Title" value="" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Category" value="" />
    </mat-form-field>
    <button mat-raised-button color="primary">Search</button>
  </form>
</mat-card>
